.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255, 0.7); /* White w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* 15% from the top and centered */
  margin: 15% auto;
  width: 100%;
  /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close {
  color: $theme-tertiary;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 1%;
}

.close:hover,
.close:focus {
  color: $theme-secondary;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
//.modal-header {
//  padding: 2px 16px;
//  background-color: white;
//  color: white;
//}

/* Modal Body */
//.modal-body {
//  width: 100%;
//  height: 100%;
//}
/* Modal Image */
.modal-img {
  position: relative;
  border-radius: 50%;
  max-width: 250px;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 5%;
}
.modal-text {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  text-align: center;
  display: inline-block;
  margin-bottom: 5%;
  p {
    margin-top: 3%;
    font-size: 20px;
    color: #000;
  }
  a {
    background-color: $theme-primary;
  }

  /* Modal Footer */
  .modal-footer {
    background-color: white;
    color: white;

  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    //margin: auto;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }
}